<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Home</title>
        <meta name="description" content="Home page of the website">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <h1>Welcome to Select Project</h1>
        <form action="/project/login" method="POST">
            <label>LOGIN</label></br>
            <input type="submit" value="LOGIN">
        </form>
        <form action="/project/signup" method="POST">
            <label>SIGNUP</label></br>
            <input type="submit" value="SIGNUP">
        </form>
        </br>
        <form action="/project/all" method="POST">
            <input type="submit" value="Get all projects">
        </form>
    </body>
</html>