<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Home</title>
        <meta name="description" content="Home page of the website">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../public/css/home.css">
    </head>
        <h1 id="main-heading">SELECT PROJECT</h1>
        <form action="/login" method="GET">
            <label>LOGIN</label></br>
            <input type="submit" value="LOGIN">
        </form>
        <form action="/signup" method="GET">
            <label>SIGNUP</label></br>
            <input type="submit" value="SIGNUP">
        </form>
        </br>
        <% if(locals.message){%>
            <% if(message.randomProject) {%>
            <h4><b><%=message.randomProject%></b></h4>
            <%} else {%>
                <h4><b><%=message.noProject%></b></h4>
            <% } %>
        <%}%>
    </body>
</html>