<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>All Projects</title>
        <meta name="description" content="Displaying list of all Projects">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <ul>
            <% for (var i=0; i < projects.length; i++) {%>
                <li> <b><%= projects[i].title %></b> </li>
                <ul>
                    <li> <%= projects[i].description %> </li>
                    <% if(projects[i].status == 0) {%>
                        <li>Added</li>
                    <%}%>
                    <% if(projects[i].status == 1) {%>
                        <li>Started</li>
                    <%}%>
                    <% if(projects[i].status == 2) {%>
                        <li>Completed</li>
                    <%}%>
                </ul>
                </br>
            <% } %>
        </ul>
        
    </body>
</html>